<ion-header>
  <ion-toolbar>
    <ion-title>View Expense</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card *ngFor="let expense of expenseList"> 
  <ion-card-content>
  <h3>{{expense.amount}}</h3>
  <h3>{{expense.description}}</h3>
  <h3>{{expense.description}}</h3>
</ion-card-content>
</ion-card>

<!--  
<ion-card>
  <ion-card-content class="total" *ngIf="totalExpense > 0">
    $ {{totalExpense}}
  </ion-card-content>
</ion-card>  -->
  

</ion-content>
