<ion-header>
  <ion-toolbar>
    <ion-title>Add Borrowing</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-accordion style="color:red" class="example-headers-align" multi>
  
    <form [formGroup]="BorrowForm" class="create-account-form">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      
      <mat-expansion-panel-header [collapsedHeight]="'60px'" [expandedHeight]="'60px'">
        
        <ion-icon class="ion-icon" style="color: white;" name="person-outline"></ion-icon>
      
  
        <mat-panel-description>
         Fill Up Your Borrower Names
        </mat-panel-description>
      </mat-expansion-panel-header>
    
      <mat-form-field style="width: 350px;" >
        <mat-label style="color:rgb(0, 0, 0)">Name</mat-label>
        <input style="width: 300px; font-size: 22px; height: 50px;" type="text" formControlName="Name" matInput placeholder="Name" required matInput>
      </mat-form-field>
      <mat-action-row>
        <button mat-button color="primary" style="font-size: 24px;"(click)="nextStep()">Next</button>
      </mat-action-row>
     
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header  [collapsedHeight]="'65px'" [expandedHeight]="'65px'">
        <ion-icon class="ion-icon" style="color: white;" name="cash-outline"></ion-icon>
 
        <mat-panel-description>
          Amount
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field appearance="fill" style="width: 320px;">
        <mat-label style="color: rgb(0, 0, 0); font-size: 20px; width: 400px;">Amount in SGD</mat-label>
        <input type="number" style="width: 100%; height: 60px; font-size: 25px;" 
         formControlName="Amount" matInput placeholder="Amount" class="example-right-align">
        <span matPrefix>$&nbsp;</span>
        <span style="font-size: 20px;" matSuffix>.00</span>
      </mat-form-field>
      <mat-action-row>
        <button mat-button color="warn" style="font-size: 24px;"(click)="prevStep()">Previous</button>
        <button mat-button color="primary" style="font-size: 24px;"(click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header [collapsedHeight]="'70px'" [expandedHeight]="'70px'">
        <ion-icon class="ion-icon" style="color: white;" name="list-outline"></ion-icon>
     
        <mat-panel-description>
          Description
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="fill" style="width: 400px; font-size: 22px;">
        <mat-label  style="color: rgb(0, 0, 0);  width: 400px; ">What was it for?</mat-label>
        <textarea style=" height: 80px;" formControlName="Description" matInput></textarea>
      </mat-form-field>
      <mat-action-row>
        <button mat-button color="warn" style="font-size: 24px;"(click)="prevStep()">Previous</button>
        <button mat-button color="primary" style="font-size: 24px;"(click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header [collapsedHeight]="'65px'" [expandedHeight]="'65px'">
        <ion-icon class="ion-icon" style="color: white;" name="calendar-outline"></ion-icon>
        <mat-panel-title>Date</mat-panel-title>
        <mat-panel-description>From When Start</mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field class="example-full-width" style="font-size:22px; width: 350px;" color="accent" appearance="outline">
        <mat-label style="color:rgb(0, 0, 0)">Choose a date </mat-label>
        <input style="width: 100%; height: 60px;" formControlName="Date" matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker  touchUi #picker1></mat-datepicker>
      </mat-form-field>
      <mat-action-row>
        <button mat-button color="warn" style="font-size: 24px;"(click)="prevStep()">Previous</button>
        <button mat-button color="primary" style="font-size: 24px;"(click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
      <mat-expansion-panel-header [collapsedHeight]="'65px'" [expandedHeight]="'65px'">
        <ion-icon class="ion-icon" style="color: white;" name="calendar-outline"></ion-icon>
        <mat-panel-title>Due Date</mat-panel-title>
        <mat-panel-description>To When</mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field class="example-full-width" style="font-size:22px; width: 350px;" color="accent" appearance="outline">
        <mat-label style="color:rgb(0, 0, 0)">Choose a date </mat-label>
        <input style="width: 100%; height: 60px;" formControlName="DueDate" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
      </mat-form-field>
      <mat-action-row>
        <button mat-button color="warn" style="font-size: 24px;"(click)="prevStep()">Previous</button>
        <button mat-button color="primary" style="font-size: 24px;"(click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>
  
  
    <ion-button expand="full" fill="solid" style="height: 80px;" (click)="BorrowRecord()" [disabled]="BorrowForm.invalid">
      <span style="font-size: 50px;" class="material-icons">
      done_outline
      </span>
    </ion-button>
  </form>
  
  </mat-accordion>
</ion-content>
