<ion-content>
  
  <ion-row align-items-end>

    <ion-col col-5>
      <ion-item>
        <ion-label floating>Value</ion-label>
        <ion-input type="number" [(ngModel)]="transaction.value"></ion-input>
      </ion-item>

    </ion-col>
    <ion-col col-5>
      <ion-item>
        <ion-label floating>Month</ion-label>
        <ion-select [(ngModel)]="transaction.month">
          <ion-select-option [value]="month.value" *ngFor="let month of months">{{ month.name }}</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="full" (click)="addTransaction()">Add Transaction</ion-button>
    </ion-col>
  </ion-row>

  <ion-card [hidden]="!chartData">
    <ion-card-header>
      Analytics
    </ion-card-header>
    <ion-card-content>
      <canvas #valueBarsCanvas></canvas>
      
    </ion-card-content>
  </ion-card>

</ion-content>