<ion-header>
  <ion-toolbar>
    <ion-title>Add Income</ion-title>
  </ion-toolbar>
</ion-header>
<!-- 
<ion-content> -->
  <form [formGroup]="addIncomeForm" (ngSubmit)="addIncome()">
    <ion-item>
      <ion-label></ion-label>
      <ion-textarea placeholder="Type Amount" type="text" formControlName="amount"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Type Description" type="text" formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Select Type</ion-label>
      <ion-select value="" okText="Ok" cancelText="Cancel" interface="alert" formControlName="type">
        <ion-select-option>Salary</ion-select-option>
        <ion-select-option>Interet</ion-select-option>
        <ion-select-option>Others</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-grid>
      <ion-row>

        <ion-col size="6">
          <ion-button color="primary" fill="solid" expand="block" type="submit" [disabled]="addCalendarForm.vaild">Add</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="danger" fill="solid" expand="block">Cancel</ion-button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>


  <ion-card>
    <ion-card-content>
    Income #1
    <ion-footer>
      <ion-label>
        Amount: <br>
        Type: <br>
      </ion-label>
    </ion-footer>
  </ion-card-content>


  <ion-card-content>
    Income #2
    <ion-footer>
      <ion-label>
        Amount: <br>
        Type: <br>
      </ion-label>
    </ion-footer>
  </ion-card-content>
  </ion-card>


  <h1>Total Income: </h1>


<!--   
</ion-content> -->
