<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Learn</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card> -->
  <!-- <ion-card-subtitle>
   Slider
  </ion-card-subtitle>
  <img src="assets/learn/finance.jpg">
  </ion-card> -->

  <!-- Scrollable Segment -->
  <ion-segment
    scrollable
    value="all"
    [(ngModel)]="segmentModel"
    (ionChange)="segmentChange($event)"
  >
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="personal-finance">
      <ion-label>Personal Finance</ion-label>
    </ion-segment-button>
    <ion-segment-button value="insurance">
      <ion-label>Insurance</ion-label>
    </ion-segment-button>
    <ion-segment-button value="savings">
      <ion-label>Savings</ion-label>
    </ion-segment-button>
    <ion-segment-button value="star">
      <ion-label>Personal Finance</ion-label>
    </ion-segment-button>
    <ion-segment-button value="call">
      <ion-label>Personal Finance</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!--CATEGORIES OF FINANCE-->
  <ion-card *ngFor="let learn of filtered">
  
    <ion-card-header>
      <ion-card-title>{{learn.title}}</ion-card-title>
    </ion-card-header>
    <img [src]="learn.image" />
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="details(learn)">View more</ion-button>
      </ion-col>
      <ion-col>
        <ion-button *ngIf="!learn.saved" color="secondary" expand="full" (click)="save(learn)">Save
          <ion-icon slot="end" name="bookmark"></ion-icon>
        </ion-button>
        <ion-button style="opacity: 0.5;" *ngIf="learn.saved" color="secondary" expand="full" (click)="unsave(learn)">Unsave
          <ion-icon slot="end" name="bookmark-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
