<ion-header>
  <ion-toolbar>
    <ion-title>add-lent</ion-title>
  </ion-toolbar>
  <ion-button slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-button>
</ion-header>

<ion-content>
  <mat-accordion style="color:red" class="example-headers-align" multi>
  
    <form [formGroup]="lentedForm" class="create-account-form">
    <mat-expansion-panel>
      
      <mat-expansion-panel-header [collapsedHeight]="'60px'" [expandedHeight]="'60px'">
        
        <ion-icon class="ion-icon" style="color: white;" name="person-outline"></ion-icon>
      
  
        <mat-panel-description>
         Fill Up Your Borrower Names
        </mat-panel-description>
      </mat-expansion-panel-header>
    
      <mat-form-field style="width: 220px;" >
        <mat-label style="color:white">Name</mat-label>
        <input style="width: 300px; font-size: 18px; height: 50px;" type="text" formControlName="Name" matInput placeholder="FirstName" required matInput>
      </mat-form-field>
  
     
    </mat-expansion-panel>
  
    <mat-expansion-panel >
      <mat-expansion-panel-header  [collapsedHeight]="'60px'" [expandedHeight]="'60px'">
        <ion-icon class="ion-icon" style="color: white;" name="cash-outline"></ion-icon>
 
        <mat-panel-description>
          Amount
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field appearance="fill" style="width: 300px;">
        <mat-label style="color: white; font-size: 20px; width: 400px;">Amount in SGD</mat-label>
        <input type="number" style="width: 100%; height: 60px; font-size: 25px;" 
         formControlName="Amount" matInput placeholder="Amount" class="example-right-align">
        <span matPrefix>$&nbsp;</span>
        <span style="font-size: 20px;" matSuffix>.00</span>
      </mat-form-field>
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'70px'" [expandedHeight]="'70px'">
        <ion-icon class="ion-icon" style="color: white;" name="list-outline"></ion-icon>
     
        <mat-panel-description>
          Description
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field  appearance="fill" style="width: 400px;">
        <mat-label  style="color: white; font-size: 18px; width: 400px;">What was it for?</mat-label>
        <textarea  formControlName="Description" matInput></textarea>
      </mat-form-field>
      
    </mat-expansion-panel>
  
    <mat-expansion-panel >
      <mat-expansion-panel-header [collapsedHeight]="'60px'" [expandedHeight]="'60px'">
        <ion-icon class="ion-icon" style="color: white;" name="calendar-outline"></ion-icon>
        <mat-panel-title>Date</mat-panel-title>
        <mat-panel-description>From When Start</mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field class="example-full-width" style="font-size:18px; width: 300px;" color="accent" appearance="outline">
        <mat-label style="color:white">Choose a date </mat-label>
        <input style="width: 100%; height: 60px;" formControlName="Date" matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker  touchUi #picker1></mat-datepicker>
      </mat-form-field>
    </mat-expansion-panel>
  
    <mat-expansion-panel >
      <mat-expansion-panel-header [collapsedHeight]="'60px'" [expandedHeight]="'60px'">
        <ion-icon class="ion-icon" style="color: white;" name="calendar-outline"></ion-icon>
        <mat-panel-title>Due Date</mat-panel-title>
        <mat-panel-description>To When</mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field class="example-full-width" style="font-size:18px; width: 300px;" color="accent" appearance="outline">
        <mat-label style="color:white">Choose a date </mat-label>
        <input style="width: 100%; height: 60px;" formControlName="DueDate" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
      </mat-form-field>
    </mat-expansion-panel>
  
  
    <ion-button expand="full" fill="outline" style="height: 80px;" (click)="LentRecord()" [disabled]="lentedForm.invalid">
      <span style="font-size: 50px;" class="material-icons">
      done_outline
      </span>
    </ion-button>
  </form>
  
  </mat-accordion>
</ion-content>
