<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Your Budget</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <canvas #doughnutCanvas> </canvas>
  <br>

  <h2 style="display: flex; justify-content: center;">(Total Income - Total Expense) = Remaining</h2>
  
    <div style="display: flex; justify-content: center;">
        <ion-button style="float: right; margin-top: 30px;" (click)="addGreens()">
          Calculate Budget
          </ion-button>
    </div>


    <mat-progress-spinner style="margin:0 auto;" mode="indeterminate">
    </mat-progress-spinner>
      
 
</ion-content>
