<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Your Budget</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- 
  <canvas #doughnutCanvas> </canvas>
  <br> -->
  <br>

  <mat-spinner style="margin:0 auto;" *ngIf="showSpinner" diameter="160"></mat-spinner>
  <mat-spinner style="margin:0 auto;" mode="determinate" value="100" diameter="180" strokeWidth="20" color="accent" class="custom-spinner" *ngIf="greenSpinner" ></mat-spinner>
  <mat-spinner style="margin:0 auto;" mode="determinate" value="100" diameter="180" strokeWidth="20" color="warn"  *ngIf="redSpinner" ></mat-spinner>
  <br>

<ng-container *ngIf="showcbudget">
 <h1  style="display: flex; justify-content: center;"> ${{calculatedBudget}}</h1>

 <ion-card *ngIf="totalIncome > 0">
  <ion-card-content>
  Total Income = ${{totalIncome}}
  </ion-card-content>
</ion-card>

<ion-card *ngIf="totalExpense > 0">
  <ion-card-content>
    Total Expense = ${{totalExpense}}
  </ion-card-content>
</ion-card>
</ng-container>
    <div style="display: flex; justify-content: center;">
      <ion-button (click)="loadData()" style="float: right; margin-top: 30px;">
        Calculate Budget
      </ion-button>
    </div>
   
    
</ion-content>
