.ion-card-save{
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    margin-left: 1.5em;
    margin-right: auto;
}


.ion-card-tag{
    margin-left: 1.5em
}
.ion-card-name{
    
    margin-left: 1.5em
}
.ion-list{
    margin-left: 1em
}
.ion-pricetag{
    margin-left: 1em
}
.ion-trash{
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    font-size: 36px;
}
.ion-create{
    margin-left: auto;
    margin-top: auto;
    font-size: 36px;
}
.ion-back{
    margin-right: auto;
    margin-top: auto;
    font-size: 36px;
}
