<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Goals</ion-title>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="selectTabs">
    <ion-segment-button value="Acitve">
      <ion-label>Acitve</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Reached">
      <ion-label>Reached</ion-label>
    </ion-segment-button>
  </ion-segment>

    <div *ngIf="selectTabs == 'Acitve'">
  
      <ion-card *ngFor="let item of studentList" color="primary">
        <span *ngIf="!item.isEdit; else elseBlock">
          <ion-card-header>
            <ion-card-title>{{item.Name}}  </ion-card-title>
            <ion-row>
            <ion-card-subtitle class="ion-card-save"> Saved: SGD {{item.SavedAmount}}</ion-card-subtitle>
            <ion-card-subtitle class="ion-card-target"> Goal: SGD {{item.TargetAmount}}</ion-card-subtitle>
          </ion-row>
          <ion-card-subtitle> {{item.DesiredDate}} </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
      
            <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
              <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
      
            </ion-button>
            <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
              <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
      
            </ion-button>
          </ion-card-content>
        </span>
        <ng-template #elseBlock>
          <ion-card-header>
            <ion-card-title>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    Edit
                  </ion-col>
                  <ion-col>
                    <ion-button fill="solid" color="medium" size="small" (click)="item.isEdit = false">
                      Cancel
                    </ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button fill="solid" color="success" size="small" (click)="UpdateRecord(item)">
                      Update
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label><strong>Name</strong></ion-label>
              <ion-input type="text" [(ngModel)]="item.Name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><strong>Target Amount</strong></ion-label>
              <ion-input type="text" [(ngModel)]="item.TargetAmount"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><strong>Saved Amount</strong></ion-label>
              <ion-input type="text" [(ngModel)]="item.SavedAmount"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><strong>Desired Date</strong></ion-label>
              <ion-input type="text" [(ngModel)]="item.DesiredDate"></ion-input>
            </ion-item>
          </ion-card-content>
        </ng-template>
      </ion-card>
    </div>
    
  
    <div *ngIf="selectTabs == 'Reached'">
      <h3></h3>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon (click)="newgoals()" name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    
  </ion-content>
