<ion-header>
  <ion-toolbar color="primary">
    <ion-title>New Goals</ion-title>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen={true}>
  <ion-card>

 
  <form [formGroup]="studentForm" (ngSubmit)="CreateRecord()">


  <ion-item lines="full">
    <ion-textarea position="stacked">
      Category List
    </ion-textarea>
    <ion-select formControlName="Name">
      <ion-select-option value="New Vehicles">New Vehicles</ion-select-option>
      <ion-select-option value="New Home">New Home</ion-select-option>
      <ion-select-option value="Holiday Trip">Holiday Trip</ion-select-option>
      <ion-select-option value="Education">Education</ion-select-option>
      <ion-select-option value="Emergency">Emergency Fund</ion-select-option>
      <ion-select-option value="HealthCare">Health Care</ion-select-option>
      <ion-select-option value="Party">Party</ion-select-option>
      <ion-select-option value="Kid Spoiling">Kids Spoiling</ion-select-option>
      <ion-select-option value="Charity">Charity</ion-select-option>
    </ion-select>

  </ion-item>
  
  <ion-item>
    <ion-textarea position="floating">Target Amount</ion-textarea>
    <ion-input formControlName="TargetAmount"></ion-input>
  </ion-item>

  <ion-item>
    <ion-textarea position="floating">Saved Amount</ion-textarea>
    <ion-input formControlName="SavedAmount"></ion-input>
  </ion-item>

  <ion-item>
    <div class="container">
      <ion-textarea position="floating">Desired Date</ion-textarea>
      <ion-datetime formControlName="DesiredDate" (ionChange)="calcAge()" [max]="today">
      </ion-datetime>
    </div>
  </ion-item>

  <ion-item>
    <ion-button (click)="CreateRecord()" [disabled]="studentForm.invalid">
      <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
      &nbsp;Create Record
    </ion-button>
  </ion-item>

</form>
</ion-card>




</ion-content>
