




<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Set New Goals</ion-title>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="light">

<form [formGroup]="studentForm">
<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header   [collapsedHeight]="'90px'" [expandedHeight]="'90px'">
      <mat-panel-title>
        Catagories 
      </mat-panel-title>
      <mat-panel-description>
        Choose your type
        <ion-icon style="font-size: 30px;" name="list-outline"></ion-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field  appearance="fill" style="width: 550px;">
      <mat-label  style="font-size: 22px;" style="color: rgb(0, 0, 0); font-size: 18px; width: 400px;">Choose Your Category</mat-label>
      <mat-select  style="font-size: 22px; height: 50px;" formControlName="Name" class="mat-select-content"  required>
        <mat-option>--Select An Option--</mat-option>
        <mat-option style="font-size: 22px;" *ngFor="let animal of animals" [value]="animal">
          {{animal.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="primary" style="font-size: 25px;"(click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header [collapsedHeight]="'90px'" [expandedHeight]="'90px'">
      <mat-panel-title>
        Target Amount
      </mat-panel-title>
      <mat-panel-description>
        Amount you expected
        <ion-icon style="font-size: 30px;" name="cash-outline"></ion-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill" style="width: 500px;">
      <mat-label style="font-size: 25px;">Amount</mat-label>
      <input style="font-size: 25px;" [(ngModel)]="transaction.value1"  formControlName="TargetAmount" matInput type="number" class="example-right-align">
      <span style="font-size: 25px;"matPrefix>$&nbsp;</span>
      <span style="font-size: 25px;" matSuffix>.00</span>
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="warn"style="font-size: 25px;" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" style="font-size: 25px;"(click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header [collapsedHeight]="'90px'" [expandedHeight]="'90px'">
      <mat-panel-title>
        Amount Saved
      </mat-panel-title>
      <mat-panel-description>
        Amount you have Saved
        <ion-icon style="font-size: 30px;" name="cash-outline"></ion-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill" style="width: 500px;">
      <mat-label style="font-size: 25px;">Amount</mat-label>
      <input style="font-size: 25px;" formControlName="SavedAmount"[(ngModel)]="transaction.value"  matInput type="number" class="example-right-align">
      <span style="font-size: 25px;"matPrefix>$&nbsp;</span>
      <span style="font-size: 25px;" matSuffix>.00</span>
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="warn" style="font-size: 25px;"(click)="prevStep()">Previous</button>
      <button mat-button color="primary" style="font-size: 25px;"(click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
    <mat-expansion-panel-header [collapsedHeight]="'90px'" [expandedHeight]="'90px'">
      <mat-panel-title>
        Desired Date
      </mat-panel-title>
      <mat-panel-description>
        Choose your Date
        <mat-icon style="font-size: 30px;">date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
      <mat-label>Select an option</mat-label>
      <mat-select formControlName="DesiredDate" [(ngModel)]="transaction.month" [(value)]="selected">
        <mat-option>None</mat-option>
        <mat-option [value]="month.value" [value]="month.value1" *ngFor="let month of months">{{month.name}}</mat-option>
      </mat-select>
    </mat-form-field>
   
  <mat-action-row>
    <button mat-button color="warn" style="font-size: 25px;"(click)="prevStep()">Previous</button>
    <button mat-button color="primary" style="font-size: 25px;"(click)="nextStep()">End</button>
  </mat-action-row>
</mat-expansion-panel>
</mat-accordion>
</form>
<ion-button expand="full" style="height: 85px;" (click)="CreateRecord()" [disabled]="studentForm.invalid"> <span style="font-size: 65px;" class="material-icons">
  add_circle_outline
  </span>
</ion-button>

</ion-content>



 




