.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  font-size: 22px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  background-color: rgb(243, 203, 203);

}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
  color: aqua;
  font-size: 28px;
}
.example-right-align {
  text-align: right;
  color: black;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
  background-color: black;


}

input.example-right-align {
  -moz-appearance: textfield;
}
.example-panel-red.mat-select-panel {
  background: rgba(255, 0, 0, 0.5);
}

.example-panel-green.mat-select-panel {
  background: rgba(0, 255, 0, 0.5);
}

.example-panel-blue.mat-select-panel {
  background: rgba(0, 0, 255, 0.5);
}