<ion-header class="ion-no-border">
  <ion-toolbar class="in-tool">
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar></ion-header>
  
<ion-content [fullscreen]="true">

  <div class="login">
      <h3>Welcome to Budget Saving</h3>
      <div class="logo">
      <img src="assets/icon/89ca3035-6392-4966-ac40-934fc4d2adcb_200x200.png">
      </div>
     

    
    <p>Please enter your username and password</p>
    <form class="form" [formGroup]="validation_form" (ngSubmit)="loginUser(validation_form.value)">
    
      <ion-item lines="none">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-input type="text" formControlName="email" ></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message"
          *ngIf="validation_form.get('email').hasError(validation.type) && (validation_form.get('email').dirty || validation_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    
    <ion-item lines="none">
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message"
          *ngIf="validation_form.get('password').hasError(validation.type) && (validation_form.get('password').dirty || validation_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    
    <ion-button shape="round" expand="block" type="submit" [disabled]="!validation_form.valid">Sign In</ion-button>
 
    <label class="error-message">{{errorMessage}}</label>
  </form>

    <p class="signup">Do not have an account? <span routerLink="/registerpage">Sign Up</span></p>
  </div>

  <div id="recaptcha-container" style="display: none;"></div>


</ion-content>
