<ion-app >
  <ion-menu  menuId="main-menu" contentId="main" >
  <ion-content class="background">
    <div class="menu-header-bg"></div>

    <div class="header-content">
      <img src="./assets/icon/people-customer-unknown-512.png" alt="">
      <ion-label>
        <h2 *ngIf="user">{{user.displayName}}</h2>
        <p>Budget Saving</p>
      </ion-label>
    </div>
   <div class="action-button" >
     <ion-button (click)="goto('myprofile')">
       <ion-icon slot="start" name="add"></ion-icon>Edit Profile
     </ion-button>
   </div>
   <ion-list lines="">
     <ion-item (click)="goto('home')">
       <ion-icon name="home"></ion-icon> Homepage
     </ion-item>
     <ion-item (click)="goto('budgets')">
      <ion-icon name="cash"></ion-icon> Budgets
    </ion-item>
    <ion-item (click)="goto('expenses')">
      <ion-icon name="cash-outline"></ion-icon> Expenses
    </ion-item>
    <ion-item (click)="goto('goals')">
      <ion-icon name="locate"></ion-icon> Goals
    </ion-item>
    <ion-item (click)="goto('learn')">
      <ion-icon name="book-outline"></ion-icon> Learn
    </ion-item>
    <ion-item (click)="goto('debts')">
      <ion-icon name="card"></ion-icon> Debts
    </ion-item>
    <ion-item (click)="goto('ourstore')">
      <ion-icon name="book"></ion-icon> Our Store
    </ion-item>
    <ion-list>
      <ion-item (click)="themeService.themeMode()">
        <ion-icon name='color-fill' slot="start"></ion-icon>
        <ion-label>Dark Mode</ion-label>
        <ion-toggle slot="end" [(ngModel)]="darkMode"></ion-toggle>
      </ion-item>
    </ion-list>
    <ion-item (click)="goto('location-api')">
      <ion-icon name="location"></ion-icon>Locations
    </ion-item>
    <ion-item (click)="share()">
      <ion-icon name="people-circle-outline"></ion-icon>Invite Friends
    </ion-item>
    <ion-item (click)="logout()" button>
      <ion-icon name="log-out"></ion-icon> Sign Out
    </ion-item>

  
   </ion-list>
  </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

</ion-app>