ion-content.background{

  --background: linear-gradient(90deg, #7eb4b2 0%, #a36464 100%);
}


* {
  font-family: lato;
}
.menu-header-bg{
  height: 180px;
  width: 350px;
  background: #4c69b4;
  background: linear-gradient(90deg, #243ab8 0%, #8b845d 100%);
  box-shadow:  0px 1px 10px rgba(176, 177, 179, 0.5);
  transform:  rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -30px;
  margin-top: -50px;
  margin-bottom: 60px;
}

.header-content{
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;
}



img{
  width: 100px;
  height: 100px;
  border-radius: 60%;
  border: 7px solid #5e7ccc;
  margin-right: 14px;
}
h2{
  font-weight: 300;
  color:#fff;
}


p{
  font-size: 12px;
  color:#e4e4e4;
  font-weight: 100;
  letter-spacing: 0.4px;
}
.action-button{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
ion-button{
  text-transform: capitalize;
  font-weight: 300px;
  --background: #4162d1;
  --border-radius: 7px;
  --box-shadow: none;
}
ion-icon{
  margin-right: 10px;
}
.menu-items{
  margin:0px;
}
.ion-icon{
  margin-right: 20px;
  color:#ce6140;
}
ion-item{
  padding-left: 20px;
  margin-bottom: 10px;
}
.active{
  border-left: 5px solid;
  color: #628cff;
  padding-left: 15px;
}
ion-icon{
  color: #65adf0;
}

  .dark-theme {
    --ion-color-primary: #b4101e;
    --ion-color-primary-rgb: 235, 75, 88;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #cf424d;
    --ion-color-primary-tint: #ed5d69;

    .ion-content {
      --background: #131414;
    }

    .ion-toolbar {
      --background: #242424;
      --color: #fff;
    }

    .ion-list {
      --ion-item-background: #3a3a3a;
      --ion-item-color: #fff;

      .ion-list-header {
        --color: #fff;
      }
    }

    .ion-card {
      --color: #fff;

      .ion-card-title {
        --color: #fff;
      }
    }

    ion-tab-bar {
      --background: #292929;
      --color: #858585;
      --ion-color-primary: #f7f7f7;
    }
  }


