<ion-header >
  <ion-toolbar color="danger" >
    <ion-title>Your Money Or Your Life</ion-title>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
<h2>John C. Bogle</h2>
<h1><b>The Little Book of Common Sense Investin: The Only Way to Guarantee Your Fair Share of Stock Market Returns (Little Books. Big Profits)</b></h1>
</ion-row>
<ion-slides class="moneyorlife" pager="true">
  <ion-slide>
    <img src="../assets/icon/51FswGtYSvL._AC_SY400_.jpg">
  </ion-slide>
  <ion-slide >
    <img src="../assets/icon/51wNn-Zo4UL._AC_SY400_.jpg">
  </ion-slide>
</ion-slides>
<ion-row>
<h1><b>Only 1 left in stock - order soon.</b></h1>
</ion-row>
<ion-row>
<h2>Arrive: <b>July 27 - 28</b></h2>
</ion-row>
<ion-row>
  <h2>Pricing <b>$13.50</b></h2>
  </ion-row>
  <ion-button expand="full" fill="outline" (click)="moneyorlife()">Process Your Payment</ion-button>
  <ion-row class="ion-align-items-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button expand="full" fill="outline">
      <ion-icon class="ion-icon" name="share" (click)="share()"></ion-icon>Share</ion-button>
    </ion-col>
  </ion-row>

 <ion-label class="text">Customers who bought this item also bought</ion-label>

 <ion-slides class="optional" [options]="slideOpts">
   <ion-slide>
     <ion-row>
    <img src ="./assets/icon/1_P-TkRdeiipojG4frEsUL_A.png" class="imgs" >
    <ion-button fill="outline">Best Seller</ion-button>
    <h1><b> Personal Finance Tips for 2020: "The Financial Diet" by Chelsea Fegan</b></h1>
    <h3>$10.29</h3>
  </ion-row>
   </ion-slide>

   <ion-slide>
     <ion-row>
    <img src ="./assets/icon/women-with-money-book.jpg" class="imgs">
    <h1><b>  Personal Finance Tips for 2020: "Women and Money" by Suze Orman </b></h1>
    <h3>$14.99</h3>
  </ion-row>
   </ion-slide>

   <ion-slide>
    <ion-row>
    <img src ="./assets/icon/e0d299a5966fc1169234cf5146529279.jpg" class="imgs">
    <h1><b> Personal Finance Tips for 2020: "The Millioinaire Next Door" by Thomas J.Stanley </b></h1>
    <h3>$12.99</h3>
  </ion-row>

   </ion-slide>
   <ion-slide>
    <ion-row>
    <img src ="./assets/icon/Get-a-financial-life-3.jpg" class="imgs">
    <h1> <b> Personal Finance Tips for 2020: "Get a Financial Life" by Beth Kobliner</b></h1>
    <h3>$5.99</h3>
  </ion-row>
   </ion-slide>

   <ion-slide>
    <ion-row>
    <img src ="./assets/icon/FinanciallyFearless-thumb-500x430-11956.jpg" class="imgs">
    <h1> <b>Personal Finance Tips fo 2020: "FInancially Fearless", by Alexa Von Tobel</b></h1>
    <h3>$18.00</h3>
  </ion-row>
   </ion-slide>
 </ion-slides>

   

</ion-content>
