<!-- <ion-header>
  <ion-toolbar>
    <ion-title>add-faq</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="FaqForm" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>
  <ion-button expand="full" (click)="addfaq()"></ion-button>
</ion-content> -->
