<ion-header>
  <ion-toolbar>
    <ion-title>ourstore</ion-title>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card padding>
<img src="../assets/icon/Your-Money-or-Your-Life-Current-Balance-Marion-Community-Credit-Union.png" class="img">
<ion-label>
  <h2><b>
    Personal Finance Tips for 2020: "Your Money or Your Life" by Vicki Robin
  </b></h2>
  <p>9 steps to transforming your relationship with money and achhieving financial independence</p>
  <ion-button href="/moneyorlife" outline="clear">More Information</ion-button>
</ion-label>
</ion-card>


<ion-card padding>
  <img src="../assets/icon/1_P-TkRdeiipojG4frEsUL_A.png" class="img">
  <ion-label>
    <h2><b>
     Personal Finance Tips for 2020: "The Financial Diet" by Chelsea Fegan
    </b></h2>
    <p>A total beginner's guide to getting good with money, even if yoou have no idea where to start</p>
  </ion-label>
  </ion-card>


  <ion-card padding>
    <img src="../assets/icon/women-with-money-book.jpg" class="img">
    <ion-label>
      <h2><b>
        Personal Finance Tips for 2020: "Women and Money" by Suze Orman
      </b></h2>
      <p>Achieve financial peace of mind with the million-copy #1 New York Times bestseller</p>
    </ion-label>
    </ion-card>


    <ion-card padding>
      <img src="../assets/icon/e0d299a5966fc1169234cf5146529279.jpg" class="img">
      <ion-label>
        <h2><b>
          Personal Finance Tips for 2020: "The Millioinaire Next Door" by Thomas J.Stanley
        </b></h2>
        <p>The implication of this book is that nearly anybody with a stedy job can have a tidy fortune</p>
      </ion-label>
      </ion-card>


      <ion-card padding>
        <img src="../assets/icon/Get-a-financial-life-3.jpg" class="img">
        <ion-label>
          <h2><b>
            Personal Finance Tips for 2020: "Get a Financial Life" by Beth Kobliner
          </b></h2>
          <p>Book designed to guide millennials through the world of personal finance</p>
        </ion-label>
        </ion-card>


        <ion-card padding>
          <img src="../assets/icon/FinanciallyFearless-thumb-500x430-11956.jpg" class="img">
          <ion-label>
            <h2><b>
              Personal Finance Tips fo 2020: "FInancially Fearless", by Alexa Von Tobel
            </b></h2>
            <p>Throw away all your old notions of what financial advice should look like.</p>
          </ion-label>
          </ion-card>
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button class="fab-button">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        
</ion-content>
