ion-card{
    border-radius: 1.5em;
    background-color: #dadada;
}

.img{
    height: 480px;
    width: 600px;
}

ion-icon{
    font-size: 45px;
}
.fab-button{
    width: 85px;
    height: 85px;
}


h2{
    font-size: xx-large;
    border: outset;
    font-weight: bold;
    margin-left: 0.8em;
    margin-right: 0.8em;
    color: black;
}
p{
    font-size: 20px;
    margin-left: 0.8em;
    margin-right: 0.8em;
    color: black;
}
