.card {
    height: 14em;
    border-radius: 10px;
    
}

#card-name {
    position: absolute;
    bottom: 0;
    left: 3em;
    letter-spacing: 3px;
}

ion-card-content {
    position: static;
    color: #ffffff;
}

#number {
    position: absolute;
    bottom: 4em;
    left: 3em;
    letter-spacing: 2px;
}

#logo {
    position: absolute;
    width: 7em;
    top:1em;
    right: 2em;
}

#year {
    position: absolute;
    bottom: 2.8em;
    left: 12em;
    letter-spacing: 2px;
}




.dbs {
    // color: #ffffff; add color in case the color match the bg color
    // play ard with bg gradient
    background-image: linear-gradient(to right, #93e8eb , #333333);
}

.ocbc {
    
    background-image: linear-gradient(to right, #648f91 , #cc8585);
}

.uob {
    background-image: linear-gradient(to right, #93e8eb , #333333);
}