<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Saved Cards</ion-title>

    <ion-buttons slot="end" routerLink="/select-card">
      <ion-button>
        Add card
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card" button *ngFor="let c of data" [ngClass]="c.id">
    <ion-card-content>
      <img id="logo" [src]="c.cardImg">


      <h3 id="number">{{c.cardNumber}}</h3>
      <h4 id="year">{{c.cardExpiry}}</h4>
      <h4 id="card-name">{{c.cardName}}</h4>
    </ion-card-content>
  </ion-card>

</ion-content>
