ion-content.background{
    --background: url(../../assets/icon/18929834-macro-shot-of-benjamin-franklin-s-portrait-on-a-100-us-money-note-with-defocused-background-of-many-.jpg) 0 0/100% 100% no-repeat;
  }

ion-slide {
    padding: 200px 20px 200px 20px;
    display: block;
    img {
    width: 260px;
    }
    h2 {
    font-size: 36px;
    font-weight: initial;
    }
    }