<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>My Profile</ion-title>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
   <div id="upper">

   </div>
  
 
   <ion-card>
    <ion-avatar style="margin-top: 1em;" (click)="uploadFile(f)">
      <img
        src="https://instagram.fsin8-1.fna.fbcdn.net/v/t51.2885-19/s320x320/99155136_238539014110164_6564776796615606272_n.jpg?_nc_ht=instagram.fsin8-1.fna.fbcdn.net&_nc_ohc=eGcwjoflBCkAX_o4yxg&oh=bba7aaa27ad5a490cb4dbac82b4dc3f9&oe=5F57567D"
      />
     </ion-avatar>
    <div class="profile">
      <h3 style="text-align: center;">@ fitri </h3>
      <!-- <h3 style="text-align: center;"> {{user.displayName}} </h3> -->
  
  
     </div>
   </ion-card>


   <div class="bottom">
    <ion-item>
      <ion-label>Email: fit@ggmail.com</ion-label>
      <!-- <ion-label>Email: {{user.email}}</ion-label> -->
    </ion-item>

    <ion-item>
      <ion-label>Phone No. 81458797 </ion-label>
      <!-- <ion-label>Phone No. {{user.phoneNumber}} </ion-label> -->
    </ion-item> 



    <ion-item>
      <ion-label position="stacked">Change password</ion-label>
      <ion-icon id="pw-icon" style="margin:0" slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input id="pw-input" type="password" [(ngModel)]="newPassword" ></ion-input>
    </ion-item>
    <ion-button expand="full" color="primary" (click)="updatePassword()">change password</ion-button>


  </div>


</ion-content>
