<ion-header>
  <ion-toolbar>
    <ion-title>Add Expense</ion-title>
    <ion-button slot="end" fill="outline" (click)="dismissModal()">X</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addExpenseForm">
    <ion-item>
      <ion-label></ion-label>
      <ion-textarea placeholder="Type Amount" type="text" formControlName="amount"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Type Description" type="text" formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Select Type</ion-label>
      <ion-select value="" okText="Ok" cancelText="Cancel" interface="alert" formControlName="type">
        <ion-select-option>Grocery</ion-select-option>
        <ion-select-option>Food</ion-select-option>
        <ion-select-option>Shopping</ion-select-option>
        <ion-select-option>Entertainment</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button color="primary" fill="solid" expand="block">Add</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="danger" fill="solid" expand="block">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>