.ion-align-items-center{
    margin-left: auto;
    margin-right: auto;
    }
    
    .ion-label{
      margin-left: 2em;
    }
    .back-icon{
      margin-top: auto;
      margin-left: 1em;
      font-size: 30px;
      font-weight: bolder;
      background-color: blue($color: #000000);
    }
    
    ion-content {
        --background: linear-gradient(#6d6d6d, #d0e9a7);
      }
    .ion-card-target{
    margin-right: auto;
    margin-left: auto;
    font-size: x-large;
    }
    .font-size{
      font-size: 18px;
    }
    .font-size1{
      font-size: 20px;
    }
    
    .cancel{
    margin-left: 10em;
    }
    .update{
      margin-left: 3em;
    }
    .ion-card-content{
      margin-top: 1.5em;
    }
    
    h1{
      margin-left: auto;
      margin-right: auto;
    }
    .ion-card-name{
      margin-left: auto;
      margin-right: auto;
      font-weight: bold;
      font-size: 30px;
    }
    .ion-icon{
      margin-left: auto;
      margin-top: auto;
      
      
      border-radius: 10cm;
      background-size: 10cm;

    }
    
    .ion-reached{
      font-size: 15px;
      border-radius: 5%;
      color: green($color: #76d121);
    }
    .card-content{
      border-spacing: 50cm;
    }