<ion-header>
  <ion-toolbar color="light">
    <ion-title>debts</ion-title>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectTabs">
    <ion-segment-button style="color: darkseagreen;" value="Ilent">
      <ion-label>I Lented</ion-label>
    </ion-segment-button>
    <ion-segment-button style="color: darkseagreen;" value="IBorrow">
      <ion-label>I Borrowed</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="selectTabs == 'Ilent'">
  
    <ion-card *ngFor="let item of LentList" color="tertiary" >
      <ion-row>
    <ion-card-title class="name" style="color: black; font-size: 24px;">{{item.Name}}</ion-card-title>
    <ion-card-subtitle class="amount" style="color: black; font-size: 22px;">{{item.Amount}}</ion-card-subtitle>
  </ion-row>
  <ion-row>
    <ion-card-title class="description" style="color:  rgb(172, 172, 172); font-size: 24px;">{{item.Description}}</ion-card-title>
  </ion-row>

  
    </ion-card>
    </div>

    <div *ngIf="selectTabs == 'IBorrow'">
      <ion-card *ngfor let item of BorrowList color="primary" >

      </ion-card>
    </div>
    <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="warning" class="fab-add">
        <ion-icon style="color: rgb(255, 255, 255);" name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">

       
        
     
        <ion-fab-button class="fab-button" color="medium">    
          <ion-icon (click)="ILent()"  style="font-size: 25px; color: black;" name="male-female-outline"></ion-icon>
        </ion-fab-button>


        
        <ion-fab-button class="fab-button1"color="dark">
          <ion-icon (click)="IBorrow()"  style="font-size: 25px; color: black;" name="male-outline">I Borrowed</ion-icon>
        </ion-fab-button>
      </ion-fab-list>

   
    </ion-fab>

</ion-content>
