<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="close(false)">
      <ion-button>
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Update Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="bottom">
  <ion-item>
    <ion-label position="stacked">Change password</ion-label>
    <ion-icon id="pw-icon" style="margin:0" slot="start" name="lock-closed-outline"></ion-icon>
    <ion-input id="pw-input" type="password" [(ngModel)]="newPassword"></ion-input>
  </ion-item>
  <ion-button id="bottom-button" expand="full" color="primary" (click)="updatePassword()">change password</ion-button>
</div>
</ion-content>
