#bottom {
    width: 100%;
    position: absolute;
    bottom: 20px;
}
#pw-icon {
    top:27px;
    position: absolute;
}

#pw-input {
    --padding-start: 25px;
}

.ios {
    #pw-icon {
        font-size: 24px;
        top:39px;
        position: absolute;
    }
    
    #pw-input {
        --padding-start: 29px;
    }

}