<ion-header>
  <ion-toolbar>
    <ion-title>View Income</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  
<ion-card>
  <ion-card-content>
  Income #1
  <ion-footer>
    <ion-label>
      Amount: <br>
      Type: <br>
    </ion-label>
  </ion-footer>
</ion-card-content>


<ion-card-content>
  Income #2
  <ion-footer>
    <ion-label>
      Amount: <br>
      Type: <br>
    </ion-label>
  </ion-footer>
</ion-card-content>
</ion-card>


<h1>Total Income: </h1>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="presentModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


<ion-card *ngFor="let i of incomeList">
  <!-- <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon size="large" name="help-circle-outline" ></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon size="large" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start">Display Income</ion-title>
  </ion-toolbar> -->

  <ion-card-content>
  <h3>{{i.amount}}</h3>
  <h3>{{i.description}}</h3>
  <h3>{{i.type}}</h3>
  </ion-card-content>
</ion-card>

</ion-content>
