.modal-wrapper {
    background: #222;
  }
  
  /* Works - pass "my-custom-class" in cssClass to increase specificity */
  .my-custom-class .modal-wrapper {
    background: #222;
  }

  .total {
    position: absolute;
    bottom: 0;
    width: 300px;

  }

  .bgcolor {
    background: #808088;
  }
  .bgcolor2 {
    background: lightgray;
  }

  .card {
    background-color: #fa8080; 
  }