.login {
  text-align: center;
  height: 100%;
  padding: 0 40px 0 40px;
}

ion-item {
  --background: transparent;
  border-style: solid;
  border-width: 0.5px;
  border-color: #ffffff;
  // width: 80%;
  border-radius: 25px;
  margin-bottom: 1em;
}
p {
  margin: 0;
  padding-bottom: 1em;
  font-weight: 300;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

h3 {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}

ion-icon {
  margin-right: 5px;
}

ion-button {
  height: 48px !important;
}

.logo {
  display: block;
  align-content: center;
  margin: auto;
  width: 50%;
}

ion-content {
  --background: linear-gradient(#e29d9d, #462c83);
}

ion-input {
    color:white;
}

ion-icon {
    color:white;
}
.ion-icon{
  --background: linear-gradient(#cf51cf, #dee037);
}

#sign-in-button {
  margin-bottom: 2em;
}