<ion-header>
  <ion-toolbar>
    <ion-title>Add Expense</ion-title>
    <ion-button slot="end" fill="outline" (click)="dismissModal()">X</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addExpenseForm">
    <ion-item>
      <ion-label></ion-label>
      <ion-textarea placeholder="Type Amount" type="text" formControlName="amount"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-textarea placeholder="Type Description" type="text" formControlName="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Select Type</ion-label>
      <ion-select value="" okText="Ok" cancelText="Cancel" interface="alert" formControlName="type">
        <ion-select-option>Grocery</ion-select-option>
        <ion-select-option>Food</ion-select-option>
        <ion-select-option>Shopping</ion-select-option>
        <ion-select-option>Entertainment</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button color="primary" fill="solid" expand="block" (click)="addExpense()">Add</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="danger" fill="solid" expand="block">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>


<ion-content class="background-image">
  <h1>Frequently Asked Questions </h1>
<div class="row">
<div class="col">
  <div class="tabs">
    <div class="tab">
      <input type="checkbox" id="chck1">
      <label class="tab-label" for="chck1">Q: Do I need a piano at home to take piano lessons? </label>
      <div class="tab-content">
          A: It is ideal if you do have a piano at home, but you can start lessons with our piano teachers by using an electric keyboard to practice on at home. Most of our students rent or buy small electric keyboards to practice on at home. We recommend a keyboard that has a minimum of 61 regular sized keys, a sustain pedal, and a touch sensitive response. A touch sensitive keyboard means if you press a key harder it will play louder and if you press a key softer it will play quieter.
      </div>
    </div>
    <div class="tab">
      <input type="checkbox" id="chck2">
      <label class="tab-label" for="chck2">Q: Do I need a full drum set to take drum lessons? </label>
      <div class="tab-content">
          A: No you do not need a full drum set to start drum lessons. Students can start lessons by using a practice pad. This is a small dinner plate sized pad that costs $20-$30 that is used for practicing basic drum rhythms.
      </div>
    </div>
    <div class="tab">
        <input type="checkbox" id="chck3">
        <label class="tab-label" for="chck3">Q: How long does it take to learn an instrument? </label>
        <div class="tab-content">
            A: There is no set answer of how long it takes to learn an instrument. This varies from student to student and really depends on the individual, how much practicing you do and your age. Playing is a physical skill so it does take repetition to improve. With regular practice a basic level of playing can be accomplished within a few months. Most of our students take lessons on a long term basis because they want to be constantly improving and they find the lessons enjoyable.
      </div>
    </div>
    <div class="tab">
        <input type="checkbox" id="chck4">
        <label class="tab-label" for="chck4">Q: I don't have any musical background or ability, can I still help my child practice? </label>
        <div class="tab-content">
            A: Yes. Even if you don't have a musical background you can ask the teacher for advice on how to help your child practice. By simply monitoring that they are doing exercises a certain number of times per day the student will progress. Many parents occasionally sit in on their child's music lesson to get an idea of the proper way a song should sound or how the student should be positioning their hands. You are your child’s best coach!
      </div>
    </div>
    <div class="tab">
        <input type="checkbox" id="chck5">
        <label class="tab-label" for="chck5">Q: Can I interview a teacher before I begin lessons? </label>
        <div class="tab-content">
            A: Our teachers are highly educated, experienced and licensed professional instructors. Each instructor has already been properly screened and has been very carefully chosen for their skills and abilities. Our job is to give you best music education possible, in order to do this our instructors are required to focus solely on teaching. For that reason, it is not in the instructor’s job description, nor in our policies, to be interviewed by prospective students or parents.
      </div>
    </div>
    <div class="tab">
        <input type="checkbox" id="chck6">
        <label class="tab-label" for="chck6">Q: How do we differ from in-home and other music schools? </label>
        <div class="tab-content">
            A: We differ from in-home lessons in that teaching is a full-time occupation for our teachers, not just a hobby or side-line. Learning music is not just a matter of having a qualified teacher, but also having an environment that is focused on music education. In a professional school environment a student cannot be distracted by T.V., pets, ringing phones, siblings or anything else. With only 1/2 to one hour of lesson time per week, a professional school environment can produce better results since the only focus time is learning music. As for other music schools, we can only comment on what we offer and that we offer music programs taught by extremely qualified and personable staff. Many of our students come back year after year. We can only comment on what we do as a music school, not on other schools.
      </div>
    </div>
    <div class="tab">
        <input type="checkbox" id="chck7">
        <label class="tab-label" for="chck7">Q: What if the student and teacher’s personalities don’t work well together or the student is dissatisfied?</label>
        <div class="tab-content">
          A: This is one of the advantages of taking your lessons at our school – we have other teachers for most instruments so if a problem occurs – which is extremely rare – we can switch you over to one of the other teachers. If you think you may get more out of lessons from a teacher with a different teaching style, we have the flexibility to change you to another instructor
      </div>
    </div>
    <div class="tab">
        <input type="checkbox" id="chck8">
        <label class="tab-label" for="chck8">Q: What if my child starts out in the lessons and genuinely hates the instrument? </label>
        <div class="tab-content">
            A: They can try another instrument. Our students are free to switch over to another instrument at any time. It is better to try something else than to end up hating music! However, it does take several months to develop a basic level of playing. It is best to try and give it a minimum of 2 months before deciding to change instruments or to quit. Students are not locked into taking lessons with us, you are free to remove your child from lessons and discontinue payment anytime. All you need to do to discontinue lessons is fill out a withdrawal form before the 15th of your last month with us.
      </div>
    </div>
    <div class="tab">
        <input type="checkbox" id="chck9">
        <label class="tab-label" for="chck9">Q: Can I just take one month of lessons? </label>
        <div class="tab-content">
            A: In one month you really don’t have enough time to give your lessons a fair chance. It takes time to translate what you are learning into a physical skill. Much like going to the gym, it takes time to see results. However, the Academy does not require semester minimums for lessons. Every student here is on a month to month basis. To discontinue lessons, all you need to do is fill out a withdrawal form before the 15th of your last month.
      </div>
    </div>
    <div class="tab">
        <input type="checkbox" id="chck10">
        <label class="tab-label" for="chck10">Q: Can I sit in on my child’s music lesson?</label>
        <div class="tab-content">
            A: Yes, we have an open door policy. It is your choice when to sit in. However, please keep in mind that while some students work better with a parent in the room, others may find it distracting. The teacher will give you some advice on this after they get to know your child. Each classroom has a viewing window so parents can see into each room.
      </div>
    </div>
  </div>
</div>
</div>
</ion-content>