<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">Overview of Monthly Budgets</ion-list-header>


  <ion-card class="Charts"[hidden]="!chartData">
    <ion-card-header style="font-size: 30px; font-weight: 700;" class="goalchart" >
      Analytics Goal Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #valueBarsCanvas></canvas>
    </ion-card-content>
    <div style="margin-left: auto">
      <ion-label>From</ion-label>
      <ion-select [(ngModel)]="from" style="width: 150px;height: 30px;">
        <ion-select-option *ngFor="let m of monthsOfGoal" [value]='m.value'>{{m.name}}</ion-select-option>
      </ion-select>
    &nbsp;&nbsp;
    <ion-label>To</ion-label>
    <ion-select [(ngModel)]="toMonth" style="width: 150px;height: 30px;">
      <ion-select-option *ngFor="let m1 of monthsOfGoal" [value]='m1.value'>{{m1.name}}</ion-select-option>
    </ion-select> 
    </div>
    
    <ion-button expand=""class="button" (click)="applyDateFilter()">Apply Date Filter</ion-button>
  </ion-card>


  <ion-card class="welcome-card">
    <ion-card-header style="font-size: 30px; font-weight: 700;">
      Analytic Expenses Donut Chart
    </ion-card-header>
    <ion-card-content>
      <canvas #valueDonutCanvas></canvas>
    </ion-card-content>
    <ion-label>From</ion-label>
    <ion-select [(ngModel)]="from1" style="width: 150px;height: 30px;">
      <ion-select-option *ngFor="let m of monthsOfExpense" [value]='m.value'>{{m.name}}</ion-select-option>
    </ion-select>
  &nbsp;&nbsp;
  <ion-label>To</ion-label>
  <ion-select [(ngModel)]="toMonth1" style="width: 150px;height: 30px;">
    <ion-select-option *ngFor="let m1 of monthsOfExpense" [value]='m1.value'>{{m1.name}}</ion-select-option>
  </ion-select> 
    <ion-button expand=""class="button" (click)="applyDateFilter()">Apply Date Filter</ion-button>
  </ion-card>

  <ion-card class="welcome-card" >
    <ion-card-header>
      <ion-card-title>Overview of Income</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #pie2Chart></canvas>
    </ion-card-content>
  </ion-card>

 
</ion-content>
