<ion-content class="background-image">
  <h1>Frequently Asked Questions </h1>
<div  class="row">
<div class="col">
  <div class="tabs">
    <div class="tab">
      <input type="checkbox" id="chck1">
      <label class="tab-label" for="chck1">Category</label>
     
      <div class="tab-content">
        <ion-item>
          <ion-select class="ion-select">
           <ion-select-option>
            <ion-chip >
          <ion-icon name="pin">Food & Drink</ion-icon>
          <ion-label>Category List</ion-label>
        </ion-chip>  
        </ion-select-option>
        
        <ion-select-option>
          <ion-chip >
        <ion-icon name="pin">Clothing & Footwear</ion-icon>
        <ion-label>Category List</ion-label>
      </ion-chip>  
      </ion-select-option>

      <ion-select-option>
        <ion-chip >
      <ion-icon name="pin">Health & Personal Care</ion-icon>
      <ion-label>Category List</ion-label>
    </ion-chip>  
    </ion-select-option>
    
    <ion-select-option>
      <ion-chip >
    <ion-icon name="pin">Charity</ion-icon>
    <ion-label>Category List</ion-label>
  </ion-chip>  
  </ion-select-option>

      <ion-select-option>
        <ion-chip >
      <ion-icon name="pin">Education</ion-icon>
      <ion-label>Category List</ion-label>
    </ion-chip>  
    </ion-select-option>

    <ion-select-option>
      <ion-chip >
    <ion-icon name="pin">Gifts</ion-icon>
    <ion-label>Category List</ion-label>
    </ion-chip>  
    </ion-select-option>

    <ion-select-option>
      <ion-chip >
    <ion-icon name="pin">Home & Utilities</ion-icon>
    <ion-label>Category List</ion-label>
    </ion-chip>  
    </ion-select-option>

    <ion-select-option>
      <ion-chip >
    <ion-icon name="pin">Leisure</ion-icon>
    <ion-label>Category List</ion-label>
    </ion-chip>  
    </ion-select-option>

    <ion-select-option>
      <ion-chip >
    <ion-icon name="pin">Loans</ion-icon>
    <ion-label>Category List</ion-label>
    </ion-chip>  
    </ion-select-option>

    <ion-select-option>
      <ion-chip >
    <ion-icon name="pin">Other</ion-icon>
    <ion-label>Category List</ion-label>
    </ion-chip>  
    </ion-select-option>

    <ion-select-option>
      <ion-chip >
    <ion-icon name="pin">Sports</ion-icon>
    <ion-label>Category List</ion-label>
    </ion-chip>  
    </ion-select-option>

    <ion-select-option>
      <ion-chip >
    <ion-icon name="pin">Taxes</ion-icon>
    <ion-label>Category List</ion-label>
    </ion-chip>  
    </ion-select-option>

    <ion-select-option>
      <ion-chip >
    <ion-icon name="pin">Transport</ion-icon>
    <ion-label>Category List</ion-label>
    </ion-chip>  
    </ion-select-option>
      </ion-select>

      </ion-item>
      </div>
    </div>
  </div>
</div>
</div>
</ion-content>
       

          
      
      



