<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-button slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">Overview of Monthly Budgets</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <!-- <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle> -->
      <ion-card-title>Overview of Goals</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #pieChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Overview of Expenses</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #pie1Chart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Overview of Income</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #pie2Chart></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>