<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="close(false)">
      <ion-button>
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Update Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="stacked">User</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>


  <div class="bottom">
    <ion-button style="height: 38px;" expand="full" (click)="update()">Update</ion-button>
  </div>
</ion-content>