<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full" (click)="share()">Share</ion-item>
  <ion-item lines="full" (click)="shareViaEmail()">Share Via Email</ion-item>
  <ion-item lines="full" (click)="shareViaWhatsapp()">Share Via Whatsapp</ion-item>
  <ion-item lines="full" (click)="shareViaFacebook()">Share Via Facebook</ion-item>
  <ion-item lines="full" (click)="shareViaTwitter()">Share Via Twitter</ion-item>
  <ion-item lines="full" (click)="shareViaInstagram()">Share Via Instagram</ion-item>
  <ion-item lines="full" (click)="shareViaSMS()">Share Via SMS</ion-item>
</ion-content>